[submodule "http-client-module"]
	path = http-client-module
	url = https://github.com/ЛÑKharitonovPS/client-server-application
[submodule "ms-person-module"]
	path = ms-person-module
	url = https://github.com/ЛÑKharitonovPS/client-server-application
